.html{
  font-size: 10px;
}
.Tarjeta{
  background-color: burlywood;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 20rem;

}
.Tarjeta-titulo1{
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
}
.Tarjeta-titulo2{
  font-size: 1.5rem;
  margin: 1rem;
}
.Tarjeta-cuadro-txt{
  font-size: 1.5rem;
  border-radius: 5px;
  border: 0;
  background-color: rgb(223, 193, 154);
}
.Tarjeta-input{
  font-size: 1.5rem;
  border: 0;
  background-color: rgb(223, 193, 154);
}
.Tarjeta-input:hover{
  border: 0;
}
